body
{
    text-align:center;
    color:blueviolet;
    background-image: url(images/dinosaurio.jpg);
}

h1
{
    font-family:"Arial";
    font-weight: 900;
}

h2
{
    font-family:"Courier";
}

h3
{
    font-family:"Courier";
}